body {
    margin: 0;
}

.searchbar {
    background-color: white;
    width: 100%;
    height: 6.5%;
    display: flex;
}

.searchbar .logo {
    width: 10.5%;
    height: 100%;
    display: inline-block;
}

.searchbar .searchbox {
    width: 40%;
    height: 100%;
    margin: 0;
    display: flex;
}

input {
    font-family: 'FontAwesome';
}

.wrapper:after {
    font-family: 'FontAwesome';
    color: grey;
    position: relative;
    content: "\f0d7";
    top: -80%;
    left: 97.5%;
}

.searchbar .bgdropdown {
    /* background: url(60995.svg) no-repeat right center; */
    /* background-size: 5% 40%; */
    height: 51%;
    width: 77.8%;
    align-self: center;
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
}

.searchbar .searchbutton {
    width: 8%;
    height: 51%;
    align-self: center;
    background-color: rgb(68,133,243);
    border: 0;
}

.searchbox .dropdownicon {
    width: 20%;
    height: 20%;
    position: relative;
    left: -90;
    top: 22;
}

.option {
    justify-content: flex-end;
    width: 49.5%;
    display: flex;
    height: 100%;
    align-items: center;
}

.mright {
    margin-right: 2%;
}

.toolbar {
    /* background-color: yellow; */
    width: 100%;
    height: 5%;
}

.toolbar .divgmail {
    height:100%;
    width:10.5%;
}

.toolbar .display {
    display: flex;
    float: left;
}


.toolbar .sqdiv {
    border: 1;
    height: 80%;
    width: 4%;
    background-color: grey;
    display: flex;
    justify-content: center;
    margin-right: 1%;
}

.toolbar div .sqicon {
    align-self:center;
}

.toolbar div .gmail {
    align-self: center;
    margin-left: 15%;
    font-size: 130%;
}

.toolbar .dropbtn {
    background: url(gmail.png) no-repeat;
    background-size: 70% 50%;
    margin-left: 1.35%;
    height: 100%;
    border: 0;
    padding: 0;
    width: 5%;
}

.toolbar .gmpic {
    width: 20%;
    height: 100%;
}

.optionbar {
    display: inline-block;
    float: left;
    background-color: red;
    width: 10.5%;
    height: 89%;
}

.mailbox {
    display: inline-block;
    background-color: grey;
    width: 89.5%;
    height: 89%;
}